.alert
{
    padding:10px;
    margin:10px;
    background-color: #a82d33;
    color:white;
    border-radius: 10px;
    text-align: center;
}

.alert-success{
    background-color: seagreen;
    color:white;
}

.time-limit{
    padding:3px;
    color:white;
    font-size:14px;
    background-color: darkred;
}

.custom-prob-heading{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: darkred;
}
.custom-prob-heading span{
    padding:2px 10px 2px 10px;
    //background-color: #d5efc4;
    border-radius: 5px;
}


.custom-label-status-attempted{
    padding:2px 8px;
    background-color: #5e3a16;
    color:white;
    box-shadow: grey 3px 4px 2px;

}
.custom-label-status-nattempted{
    padding:2px 8px;
    background-color: #791d16;
    color:white;
    box-shadow: grey 3px 4px 2px;

}
.custom-label-status-solved{
    padding:2px 8px;
    background-color: #1e7736;
    color:white;
    box-shadow: grey 3px 4px 2px;

}


.custom-table-container{
    //border: 2px solid grey;
    padding:10px;
    background-color: whitesmoke;
    box-shadow: grey 5px 15px 29px;
}
